################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BitCounting/.vs/BitCounting/v16
/MovieTickets/.vs/MovieTickets/DesignTimeBuild
/DigitalRoot/DigitalRoot/bin/Debug/netcoreapp3.1
/DigitalRoot/DigitalRoot/obj
/DigitalRoot/.vs/DigitalRoot/v16
/BitCounting/.vs/BitCounting/DesignTimeBuild
/ProdFib/ProdFib/obj
/ProdFib/.vs/ProdFib/v16/.suo
/DigitalRoot/.vs/DigitalRoot/DesignTimeBuild
/Order/.vs/Order/v16
/Order/Order/bin/Debug/netcoreapp3.1
/Order/Order/obj/Debug/netcoreapp3.1
/Order/Order/obj
/ProdFib/ProdFib/bin/Debug/netcoreapp3.1
/RGB/RGB/bin/Debug/netcoreapp3.1
/RGB/RGB/obj/Debug/netcoreapp3.1
/RGB/RGB/obj
/RGB/.vs/RGB/v16
